/* BRAKE POINTS */
@media screen and (min-width: 35.5em) {}
@media screen and (min-width: 48em) {}
@media screen and (min-width: 64em) {}
/* END BRAKE POINTS */

/* GENERAL */
html {
    width: 100%;
}
.wrapper {
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
    padding: 10px 15px;
}
/* END GENERAL */

/* HEADER */
header {
    background-color: rgb(66,76,84); /* old browsers don't support rgba */
    background-color: rgba(66,76,84,0.9);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
@media screen and (min-width: 48em) {
    header {
        height: 70px;
    }
}

/* logo */
header .logo-container .logo {
    font-size: 25px;
    margin-top: 10px;
    color: #fff;
}
header .logo-container .logo span {
    color: #4bcaff;
}
/* end logo */

/* Top nav menu */
header .menu-container {
    text-align: left;
    display: none;
}
@media screen and (min-width: 48em) {
    header .menu-container {
        text-align: right;
        display: block;
    }
}

header .menu-container ul.menu {
    padding-left: 0;
    margin-top: 7px;
}
header .menu-container ul.menu li {
    display: block;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
header .menu-container ul.menu li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
@media screen and (min-width: 48em) {
    header .menu-container ul.menu li {
        display: inline-block;
        padding-left: 20px;
        border-bottom: none;
    }
    header .menu-container ul.menu li a {
        padding: 10px;
    }
    header .menu-container ul.menu li a.current {
        color: #4bcaff;
        border: 1px solid #4bcaff;
    }
}

header .burger-menu {
    display: block;
    text-align: right;
}
header .burger-menu img {
    width: 35px;
    margin-top: 8px;
    cursor: pointer;
}

@media screen and (min-width: 48em) {
    header .burger-menu {
        display: none;
    }
}
/* END HEADER */

/* BODY */
/* General */
.section-title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.section-title .underline {
    border-bottom: 1px solid;
}
.divide {
    width: 100%;
    height: 25px;
    background-color: rgb(66,76,84);
}
/* End General */
/* Banner */
.top-banner {
    width: 100%;
    height: 350px;
    background-position: top;
    background-size: cover;
    position:relative;
}
.top-banner .teaser {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.top-banner .teaser p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
    margin-top: 5px;
    background-color: rgba(66,76,84,0.9);
    padding: 5px 10px;
    width: auto;
}
@media screen and (min-width: 48em) {
    .top-banner {
        height: 500px;
    }
    .top-banner .teaser {
        top:50%;
    }
    .top-banner .teaser p {
        font-size: 23px;
        line-height: 25px;
    }
}
/* End Banner */

/* Services */
.services {
    background-color: #4bcaff;
    color: #fff;
}
.services .service-items .service-item .section-title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 25px;
    color:inherit;
}
.services .service-items .service-item .service-item-container {
    padding: 0;
    margin: 10px 0;
}
@media screen and (min-width: 48em) {
    .services .service-items .service-item .service-item-container {
        padding: 20px;
    }
    .services .service-items .service-item:first-child .service-item-container {
        margin-left: 0;
        padding-left: 0;
    }
    .services .service-items .service-item:last-child .service-item-container {
        margin-right: 0;
        padding-right: 0;
    }
}
.services .service-item .service-item-container .title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    margin: 7px 0;
}
.services .service-item .service-item-container .content {
    font-size: 15px;
    line-height: 17px;
}
/* End Services */

/* Portfolio */
.portfolio .section-title {
    margin-bottom: 20px;
}
.portfolio .portfolio-items .portfolio-item .portfolio-item-container {
    padding: 0;
}
@media screen and (min-width: 48em) {
    .portfolio .portfolio-items .portfolio-item .portfolio-item-container {
        padding: 10px;
    }
    .portfolio .portfolio-items .portfolio-item:nth-child(3n+1) .portfolio-item-container {
        margin-left: 0;
        padding-left: 0;
    }
    .portfolio .portfolio-items .portfolio-item:nth-child(3n+3) .portfolio-item-container {
        margin-right: 0;
        padding-right: 0;
    }
}
.portfolio .portfolio-item img {
    width: 100%;
    height: 300px;
}
/* End Portfolio */

.contact-form {
    width: 100%;
    background-position: top;
    background-size: cover;
    position:relative;
    padding-bottom: 15px;
}
.contact-form .section-title {
    color: #fff;
}
.contact-form .top-input {
    order: 2;
}
.contact-form .form-text {
    order: 1;
}
.contact-form .form-text p {
    color: #fff;
}
@media screen and (min-width: 48em) {
    .contact-form .top-input {
        order: 1;
    }
    .contact-form .form-text {
        order: 2;
    }
}

.contact-form label {
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
}
.contact-form input[type="text"],
.contact-form input[type="email"]{
    height: 20px;
}
.contact-form input[type="submit"] {
    background: #4bcaff;
    color: #fff;
    padding: 10px;
    min-width: 250px;
    border: none;
}
@media screen and (min-width: 48em) {
    .contact-form input[type="text"],
    .contact-form input[type="email"]{
        max-width: 80%;
    }
}
/* END BODY */

/* FOOTER */
footer {
    background-color: rgb(66,76,84);
    font-size: 14px;
    line-height: 16px;
    color: silver;
}
footer .footer-menu ul {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
footer .footer-menu ul li {
    display: inline-block;
    list-style: none;
    padding-left: 15px;
}
footer .footer-menu ul li:after {
    content: '|';
    padding-left: 15px;
}
footer .footer-menu ul li:first-child {
    padding-left: 0;
}
footer .footer-menu ul li:last-child:after {
    content: none;
}
footer .footer-menu ul li a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}
footer .copyrights {
    text-align: left;
}
@media screen and (min-width: 48em) {
    footer .copyrights {
        text-align: right;
    }
}

/* END FOOTER */

