<div class="wrapper">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="footer-menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="copyrights">
                <p>{{ "now"|date('Y') }} &copy;</p>
            </div>
        </div>
    </div>
</div>