<div class="wrapper">
    <div class="pure-g">
        <div class="logo-container pure-u-6-24">
            <div class="logo">
                BLU<span>E</span>ASY
            </div>
        </div>
        <div id="burger-menu" class="burger-menu pure-u-18-24">
            <img src="{{ asset('assets/images/burger.png') }}">
        </div>
        <div id="pri_nav" class="menu-container pure-u-1 pure-u-md-18-24">
            {% if prim_nav %}
                <ul class="menu">
                    {% for menu_item in prim_nav %}
                    <li><a class="{{ (menu_item.current) ? 'current' : '' }}" href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>