{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {# BANNER #}
    <div style="background-image: url('{{ asset('assets/images/banner.jpg') }}')" class="top-banner">
        <div class="teaser">
            <p>"I am looking for unexpected.</p>
            <p> I'm looking for things I've never seen before."</p>
        </div>
    </div>
    {# END BANNER #}

    {# SERVICES #}
    <div class="services">
        <div class="wrapper">
            <div class="pure-g">
                <div class="section-title pure-u-1">
                    <span class="underline">Ser</span>vices
                </div>
                <div class="service-items">
                    <div class="service-item pure-u-1 pure-u-md-1-4">
                        <div class="service-item-container">
                            <div class="image"><img src="{{ asset('assets/images/blueimg1.png') }}"></div>
                            <div class="title">{{ (mozcast_temperature) ? mozcast_temperature : 'Coffee' }}</div>
                            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                    <div class="service-item pure-u-1 pure-u-md-1-4">
                        <div class="service-item-container">
                            <div class="image"><img src="{{ asset('assets/images/blueimg2.png') }}"></div>
                            <div class="title">{{ (london_weather) ? london_weather : 'Istant' }}</div>
                            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                    <div class="service-item pure-u-1 pure-u-md-1-4">
                        <div class="service-item-container">
                            <div class="image"><img src="{{ asset('assets/images/blueimg3.png') }}"></div>
                            <div class="title">Serious</div>
                            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                    <div class="service-item pure-u-1 pure-u-md-1-4">
                        <div class="service-item-container">
                            <div class="image"><img src="{{ asset('assets/images/blueimg4.png') }}"></div>
                            <div class="title">Frame</div>
                            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# END SERVICES #}

    {# PORTFOLIO #}
    <div class="portfolio">
        <div class="wrapper">
            <div class="pure-g">
                <div class="section-title pure-u-1">
                    <span class="underline">Por</span>tfolio
                </div>
                <div class="portfolio-items">
                    <div class="portfolio-item pure-u-1 pure-u-md-1-3">
                        <div class="portfolio-item-container">
                            <img src="{{ asset('assets/images/portfolio1.jpg') }}">
                        </div>
                    </div>
                    <div class="portfolio-item pure-u-1 pure-u-md-1-3">
                        <div class="portfolio-item-container">
                            <img src="{{ asset('assets/images/portfolio2.jpg') }}">
                        </div>
                    </div>
                    <div class="portfolio-item pure-u-1 pure-u-md-1-3">
                        <div class="portfolio-item-container">
                            <img src="{{ asset('assets/images/portfolio3.jpg') }}">
                        </div>
                    </div>
                    <div class="portfolio-item pure-u-1 pure-u-md-1-3">
                        <div class="portfolio-item-container">
                            <img src="{{ asset('assets/images/portfolio1.jpg') }}">
                        </div>
                    </div>
                    <div class="portfolio-item pure-u-1 pure-u-md-1-3">
                        <div class="portfolio-item-container">
                            <img src="{{ asset('assets/images/portfolio2.jpg') }}">
                        </div>
                    </div>
                    <div class="portfolio-item pure-u-1 pure-u-md-1-3">
                        <div class="portfolio-item-container">
                            <img src="{{ asset('assets/images/portfolio3.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# END PORTFOLIO #}

    <div class="divide">&nbsp;</div>

    {# CONTACT FORM #}
    <div style="background-image: url('{{ asset('assets/images/form-back.jpg') }}')" class="contact-form">
        <div class="wrapper">
            <div class="section-title pure-u-1">
                <span class="underline">Con</span>tact
            </div>
            <div class="form-container">
                {{ form_start(contact_form) }}
                    {{ form_errors(contact_form) }}
                    <div class="form-row">
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2 top-input">
                                <div>
                                    {{ form_label(contact_form.name) }}<br />
                                    {{ form_widget(contact_form.name) }}
                                </div>
                                <div>
                                    {{ form_label(contact_form.email) }}<br />
                                    {{ form_widget(contact_form.email) }}
                                </div>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2 form-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="pure-g">
                            <div class="pure-u-1">
                                {{ form_label(contact_form.message) }}<br />
                                {{ form_widget(contact_form.message, { 'attr': {'rows': '7'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row hidden">
                        <div class="pure-g">
                            <div class="pure-u-1">
                                {{ form_label(contact_form.submitted) }}<br />
                                {{ form_widget(contact_form.submitted) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="pure-g">
                            <div class="pure-u-1">
                                <input type="submit" value="Message">
                            </div>
                        </div>
                    </div>
                {{ form_end(contact_form) }}
            </div>
        </div>
    </div>
    {# EMD CONTACT FORM #}


{% endblock %}
